body {
    background: #fff;
}

.container {
    width: 1079px;
    height: 1920px;
    overflow: hidden;
    position: relative;
}

.video {
    background-color: #000;
    height: 1920px;
    position: absolute;
    top: 0;
    width: 1080px;
    z-index: 400;
}

#crossfade {
    background-color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
}

#button {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 800;
}

/* By default, position videos offscreen, add transition delay to allow for blackout */
.video-js {
    height: 100%;
    left: 102%;
    position: absolute;
    transition: all .1s .25s;
    width: 100%;
}

/* When video is in playback mode, position it to left corner of screen */
.vjs-playing {
    left: 0;
}

/* Create crossfade on loop videos using opacity and depth */
.loop-video {
    left: 0;
    opacity: 0;
    transition: opacity .5s 2s;
    z-index: 100;
}

.loop-video.vjs-playing {
    opacity: 1;
    transition: opacity 1.5s .5s;
    z-index: 200;
}

.vjs-default-skin .vjs-control-bar {
  display: none !important;
  opacity: 0 !important;
  -webkit-transition: visibility 0s, opacity 0s;
  transition: visibility 0s, opacity 0s;
  visibility: hidden !important;
}

/*
.vjs-playing {}
.vjs-ended {}
*/
