body {
    background: #fff;
}

.container {
    width: 1079px;
    height: 1920px;
    overflow: hidden;
    position: relative;
}

.video {
    background-color: #000;
    height: 1920px;
    position: absolute;
    top: 0;
    width: 1080px;
}

#crossfade {
    background-color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
}

#button {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 800;
}

/* By default, position videos offscreen, add transition delay to allow for crossfade */
.video-js {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 102%;

    transition: all .1s .25s;
}

/* When video is in playback mode, position it to left corner of screen */
.vjs-playing {
    left: 0;
}

/* Remove transitions for any loop videos as there is no crossfade */
.loop-video {
    transition: all 0s 0s !important;
}

/*
.vjs-playing {}
.vjs-ended {}
*/
